body {
  font-family: "Asap", sans-serif;
  font-size: 22px;
  width: 100%;
}

body .header-bg {
  height: 80px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}

@media screen and (max-width: 375px) {
  body .header-bg {
    height: 52px;
  }
}

body .header-1-light {
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #ffffff;
}

@media screen and (max-width: 375px) {
  body .header-1-light {
    font-size: 30px;
  }
}

body .header-1-dark {
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #4a4a4a;
}

@media screen and (max-width: 375px) {
  body .header-1-dark {
    font-size: 30px;
  }
}

body .header-2-1 {
  font-size: 46px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

@media screen and (max-width: 375px) {
  body .header-2-1 {
    font-size: 26px;
  }
}

body .header-2-2 {
  font-size: 46px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #4a4a4a;
}

@media screen and (max-width: 375px) {
  body .header-2-2 {
    font-size: 26px;
    line-height: 1.23;
  }
}

body .header-3 {
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #000000;
}

@media screen and (max-width: 375px) {
  body .header-3 {
    font-size: 52px;
  }
}

body .header-4 {
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

@media screen and (max-width: 375px) {
  body .header-4 {
    font-size: 18px;
  }
}

body .header-5 {
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

@media screen and (max-width: 375px) {
  body .header-5 {
    font-size: 22px;
  }
}

body .header-6 {
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

body .header-6-1 {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

body .header-7 {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
}

body .footer-header-8 {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

body .menu-text {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #ffffff;
}

body .subline-text-1-light {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #ffffff;
}

@media screen and (max-width: 375px) {
  body .subline-text-1-light {
    font-size: 18px;
  }
}

body .subline-text-1-dark {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #4a4a4a;
}

@media screen and (max-width: 375px) {
  body .subline-text-1-dark {
    font-size: 18px;
  }
}

body .subline-text-2 {
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

@media screen and (max-width: 375px) {
  body .subline-text-2 {
    font-size: 16px;
    line-height: 1.25;
  }
}

body .subline-text-3 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #4a4a4a;
}

body .subline-text-4 {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #4a4a4a;
}

body .button-text-1 {
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 375px) {
  body .button-text-1 {
    font-size: 18px;
    line-height: 1.22;
  }
}

body .button-text-2-1 {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #eb6a38;
}

body .button-text-2-2 {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

body .button-text-3 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.7);
}

body .caption-text {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

@media screen and (max-width: 375px) {
  body .caption-text {
    font-size: 18px;
  }
}

body .footer-text-1 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.9);
}

body .footer-text-2 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

header {
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (max-width: 375px) {
  header {
    padding: 0;
  }
}

header .navbar-mobile {
  display: none;
  height: 100%;
  padding-left: 12px;
  padding-right: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 375px) {
  header .navbar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .navbar-mobile .navbar-toggler {
  width: 22px;
  height: 22px;
  padding: 0;
}

header .navbar-mobile .navbar-toggler:focus {
  outline: none;
}

header .navbar-mobile .navbar-toggler i {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  background: #4a4a4a;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  top: -6px;
}

header .navbar-mobile .navbar-toggler i::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  width: 22px;
  height: 2px;
  background: #4a4a4a;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

header .navbar-mobile .navbar-toggler i::after {
  content: "";
  position: absolute;
  right: -14px;
  top: 0;
  width: 22px;
  height: 2px;
  background: #4a4a4a;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

header .navbar-mobile .navbar-toggler.collapsed i {
  width: 22px;
  height: 2px;
}

header .navbar-mobile .navbar-toggler.collapsed i::before {
  left: 0;
  top: -7px;
  width: 13px;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

header .navbar-mobile .navbar-toggler.collapsed i::after {
  right: 0;
  top: 7px;
  width: 10px;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
}

header .navbar-mobile .navbar-border {
  border: none;
}

header .navbar-mobile .logo-img {
  width: 177px;
  height: 11px;
}

header .navbar-mobile .langs .flag-link img {
  width: 22px;
  height: 22px;
}

header .navbar-mobile .navbar-collapse {
  display: none;
}

header .navbar-mobile .navbar-collapse.collapsing {
  background: #ffffff;
  /* height: 0; */
  -webkit-transition: unset;
  transition: unset;
}

header .navbar-mobile .collapse.show {
  position: absolute;
  top: 52px;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 100vh;
  padding-left: 15px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: block;
}

header .navbar-mobile .navbar-nav .dropdown-toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  background: url("../img/icon/chevron-down.svg");
  background-repeat: no-repeat;
  background-position-y: 1px;
  width: 16px;
  height: 12px;
  border: unset;
}

header .navbar-mobile .navbar-nav a {
  text-decoration: none;
  color: #4a4a4a;
  padding: 15px 30px;
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

header .navbar-mobile .navbar-nav .sign-up-link {
  border: 1px solid #ef8860;
  font-size: 18px;
  color: #4a4a4a;
  background: none;
  border-radius: 3px;
  margin: 10px 30px;
  height: 38px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 140px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

header .navbar-mobile .navbar-nav .sign-up-link:hover {
  text-decoration: none;
  color: #ef8860;
  background: #ffffff;
}

@media screen and (max-width: 375px) {
  .navbar {
    display: none;
  }
}

.navbar-border {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 32px;
}

.navbar .navbar-nav .dropdown-toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  background: url("../img/icon/chevron-down.svg");
  background-repeat: no-repeat;
  background-position-y: 1px;
  width: 16px;
  height: 12px;
  border: unset;
}

.navbar .navbar-nav .dropdown-toggle.menu-text {
  padding-right: 18px;
}

.navbar .navbar-nav .nav-item {
  padding-left: 8px;
  padding-right: 8px;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #4a4a4a;
}

.navbar .navbar-nav .login-link {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  color: #eb6a38;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 32px;
}

.navbar .navbar-nav .login-link:hover, .navbar .navbar-nav .login-link:focus, .navbar .navbar-nav .login-link:active {
  text-decoration: none;
}

.navbar .navbar-nav .sign-up-link {
  font-size: 16px;
  font-weight: normal;
  color: #4a4a4a;
  height: 38px;
  padding-left: 44px;
  padding-right: 44px;
  margin-right: 32px;
  border: 1px solid #ef8860;
  border-radius: 3px;
  background: none;
  cursor: pointer;
}

.navbar .navbar-nav .flag-link {
  height: 30px;
}

.navbar .navbar-nav .flag-link img {
  width: 22px;
  height: 22px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  margin-right: 4px;
}

.navbar .navbar-nav .language-link {
  font-size: 18px;
  font-weight: normal;
  color: #4a4a4a;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-left: 1px solid #d8d8d8;
  padding-left: 8px;
}

.navbar .navbar-nav .language-link:hover, .navbar .navbar-nav .language-link:focus, .navbar .navbar-nav .language-link:active {
  text-decoration: none;
}

main {
  background: url("../img/dishbg.svg") center bottom no-repeat;
  background-size: contain;
  padding-bottom: 128px;
}

@media screen and (max-width: 375px) {
  main {
    background: url("../img/dishbg-mobile.svg") center bottom no-repeat;
    padding-bottom: 80px;
  }
}

main .justifying-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 375px) {
  main .justifying-item {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

main section.overlay {
  margin-top: 80px;
}

@media screen and (max-width: 375px) {
  main section.overlay {
    margin-top: 52px;
  }
}

main section.overlay .hero-background-desktop {
  background: url("../img/hero-background-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 375px) {
  main section.overlay .hero-background-desktop {
    background: url("../img/hero-background-mobile.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

main section.overlay .hero-background-desktop::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(133deg, rgba(0, 0, 0, 0.42) 28%, rgba(0, 0, 0, 0) 63%);
}

main section.overlay .hero-box {
  position: relative;
}

main section.overlay .hero-box .header-1-light {
  padding-top: 145px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

@media screen and (max-width: 375px) {
  main section.overlay .hero-box .header-1-light {
    padding-top: 123px;
  }
}

main section.overlay .hero-box .subline-text-1-light {
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

@media screen and (max-width: 375px) {
  main section.overlay .hero-box .subline-text-1-light {
    padding-bottom: 24px;
  }
}

main section.overlay .hero-box .btn-get-started {
  position: absolute;
  bottom: -94px;
  left: 0;
  width: 241px;
  height: 70px;
  background: #eb6a38;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 16px 8px rgba(239, 136, 96, 0.1);
          box-shadow: 0 8px 16px 8px rgba(239, 136, 96, 0.1);
  padding-left: 0;
  padding-right: 0;
  margin: 24px 15px;
  z-index: 999;
  cursor: pointer;
}

main section.overlay .hero-box .btn-get-started:hover, main section.overlay .hero-box .btn-get-started:focus, main section.overlay .hero-box .btn-get-started:active {
  background-color: #ffffff;
  border: 2px solid #eb6a38;
  color: #eb6a38;
}

@media screen and (max-width: 375px) {
  main section.overlay .hero-box .btn-get-started {
    width: 180px;
    height: 48px;
    bottom: -72px;
  }
}

main section.statistics {
  padding-top: 113px;
  padding-bottom: 128px;
  text-align: center;
}

@media screen and (max-width: 375px) {
  main section.statistics {
    text-align: left;
    padding-top: 48px;
    padding-bottom: 32px;
  }
}

main section.statistics .header-2-1 {
  padding-bottom: 56px;
}

@media screen and (max-width: 375px) {
  main section.statistics .header-2-1 {
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

main section.statistics .header-4 {
  padding-bottom: 18px;
}

@media screen and (max-width: 375px) {
  main section.statistics .header-4 {
    padding-bottom: 16px;
  }
}

main section.statistics .header-4 span {
  border-bottom: 4px solid #22bb77;
}

@media screen and (max-width: 375px) {
  main section.statistics .subline-text-1-dark {
    padding-bottom: 32px;
  }
}

main section.before-after {
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 128px;
  position: relative;
}

@media screen and (max-width: 375px) {
  main section.before-after {
    text-align: left;
    padding-top: 48px;
    padding-bottom: 64px;
  }
}

main section.before-after::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(144deg, #ffe679 -31%, #cc3131 131%);
  opacity: 0.1;
}

main section.before-after .header-2-2 {
  color: #4a4a4a;
  padding-bottom: 16px;
}

@media screen and (max-width: 375px) {
  main section.before-after .header-2-2 {
    padding-right: 145px;
    padding-left: 15px;
    text-align: left;
  }
}

main section.before-after .subline-text-1-dark {
  padding-left: 115px;
  padding-right: 115px;
  padding-bottom: 48px;
}

@media screen and (max-width: 375px) {
  main section.before-after .subline-text-1-dark {
    text-align: left;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

main section.before-after .owl-carousel.number-2 {
  display: none;
}

@media screen and (max-width: 375px) {
  main section.before-after .owl-carousel.number-2 {
    display: block;
  }
}

main section.before-after .owl-carousel.number-2 .owl-stage-outer .owl-stage .slider-cover {
  display: block;
}

main section.before-after .owl-carousel.number-2 .owl-stage-outer .owl-stage .slider-cover img {
  width: 345px;
  height: 230px;
  margin-bottom: 8px;
}

main section.before-after .owl-carousel.number-2 .owl-stage-outer .owl-stage .owl-before-caption {
  position: absolute;
  top: 188px;
  left: 16px;
  width: 64px;
  height: 21px;
}

main section.before-after .owl-carousel.number-2 .owl-stage-outer .owl-stage .owl-after-caption {
  position: absolute;
  bottom: 28px;
  left: 16px;
  width: 64px;
  height: 21px;
}

main section.before-after .owl-carousel.number-2 .owl-dots .owl-dot:hover, main section.before-after .owl-carousel.number-2 .owl-dots .owl-dot:focus, main section.before-after .owl-carousel.number-2 .owl-dots .owl-dot:active, main section.before-after .owl-carousel.number-2 .owl-dots .owl-dot:visited {
  outline: none;
}

main section.before-after .owl-carousel {
  position: relative;
}

@media screen and (max-width: 375px) {
  main section.before-after .owl-carousel {
    display: none;
  }
}

main section.before-after .owl-carousel .owl-stage-outer {
  margin-left: 22px;
}

@media screen and (max-width: 375px) {
  main section.before-after .owl-carousel .owl-stage-outer {
    margin-left: 0px;
  }
}

main section.before-after .owl-carousel .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main section.before-after .owl-carousel .item img {
  width: 570px;
  height: 380px;
  border-radius: 8px;
  margin-right: 15px;
}

main section.before-after .owl-carousel .item .owl-before-caption {
  position: absolute;
  bottom: 28px;
  left: 16px;
  width: 64px;
  height: 21px;
}

main section.before-after .owl-carousel .item .owl-after-caption {
  position: absolute;
  bottom: 28px;
  right: 44px;
  width: 64px;
  height: 21px;
}

main section.before-after .owl-carousel .owl-nav {
  position: absolute;
  top: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: white;
  padding-left: 38px;
  padding-right: 30px;
}

@media screen and (max-width: 375px) {
  main section.before-after .owl-carousel .owl-nav {
    display: none;
  }
}

main section.before-after .owl-carousel .owl-nav span {
  font-size: 80px;
  color: white;
}

main section.before-after .owl-carousel .owl-nav .owl-prev:hover, main section.before-after .owl-carousel .owl-nav .owl-prev:focus, main section.before-after .owl-carousel .owl-nav .owl-prev:active,
main section.before-after .owl-carousel .owl-nav .owl-next:hover,
main section.before-after .owl-carousel .owl-nav .owl-next:focus,
main section.before-after .owl-carousel .owl-nav .owl-next:active {
  background: none;
  outline: none;
}

main section.before-after .owl-carousel .owl-dots .owl-dot:hover, main section.before-after .owl-carousel .owl-dots .owl-dot:focus, main section.before-after .owl-carousel .owl-dots .owl-dot:active, main section.before-after .owl-carousel .owl-dots .owl-dot:visited {
  outline: none;
}

main section.before-after .owl-carousel .owl-dots .owl-dot.active span {
  background: #ef8860;
  width: 12px;
  height: 12px;
  margin-top: 16px;
  outline: none;
}

main section.gallery-area {
  padding-top: 112px;
  padding-bottom: 64px;
}

@media screen and (max-width: 375px) {
  main section.gallery-area {
    padding-top: 48px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
  }
}

main section.gallery-area .header-2-1 {
  padding-bottom: 16px;
}

@media screen and (max-width: 375px) {
  main section.gallery-area .header-2-1 {
    padding-right: 134px;
    padding-left: 15px;
    padding-bottom: 8px;
  }
}

main section.gallery-area .subline-text-1-dark {
  padding-left: 115px;
  padding-right: 115px;
  padding-bottom: 48px;
  text-align: center;
}

@media screen and (max-width: 375px) {
  main section.gallery-area .subline-text-1-dark {
    text-align: left;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

main section.gallery-area .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (13.5vw)[3];
      grid-template-rows: repeat(3, 13.5vw);
  grid-gap: 30px;
}

@media screen and (max-width: 375px) {
  main section.gallery-area .gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (29vw)[3];
        grid-template-rows: repeat(3, 29vw);
    grid-gap: 15px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 64px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

main section.gallery-area .gallery figure {
  margin: 0;
}

main section.gallery-area .gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

@media screen and (max-width: 375px) {
  main section.gallery-area .gallery-img {
    border-radius: 4px;
    height: 110px;
  }
}

main section.gallery-area .gallery-item-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 768px) {
  main section.gallery-area .gallery-item-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

main section.gallery-area .gallery-item-2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 768px) {
  main section.gallery-area .gallery-item-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

main section.gallery-area .gallery-item-3 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 768px) {
  main section.gallery-area .gallery-item-3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
}

main section.gallery-area .gallery-item-4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
}

@media screen and (max-width: 768px) {
  main section.gallery-area .gallery-item-4 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
}

main section.gallery-area .gallery-item-5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (max-width: 768px) {
  main section.gallery-area .gallery-item-5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
}

main section.gallery-area .gallery-item-6 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (max-width: 768px) {
  main section.gallery-area .gallery-item-6 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
}

main section.process-step {
  padding-top: 112px;
  text-align: center;
}

@media screen and (max-width: 375px) {
  main section.process-step {
    padding-top: 48px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }
}

main section.process-step .header-2-1 {
  padding-bottom: 80px;
}

@media screen and (max-width: 375px) {
  main section.process-step .header-2-1 {
    padding-bottom: 48px;
    text-align: left;
  }
}

main section.process-step .header-5 {
  padding-top: 35px;
  padding-bottom: 16px;
}

@media screen and (max-width: 375px) {
  main section.process-step .header-5 {
    padding-bottom: 8px;
    padding-top: 16px;
  }
}

main section.process-step .subline-text-1-dark {
  padding-bottom: 64px;
}

@media screen and (max-width: 375px) {
  main section.process-step .subline-text-1-dark {
    padding-bottom: 40px;
  }
}

main section.process-step .step-bottom-border {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

@media screen and (max-width: 375px) {
  main section.process-step .step-bottom-border {
    border-bottom: none;
    padding-bottom: 0px;
  }
}

main section.process-step .step-bottom-border .process-badge {
  position: absolute;
  top: -23px;
  left: 32px;
  background: #eb6a38;
  color: #ffffff;
  width: 48px;
  height: 48px;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  border-radius: 8px;
}

main section.process-step .step-bottom-border .step-img {
  border-radius: 8px;
  width: 100%;
}

@media screen and (max-width: 375px) {
  main section.process-step .step-bottom-border .end-line {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 56px;
    margin-bottom: 0px;
  }
}

main section.select-photoshoot {
  padding-top: 112px;
  padding-bottom: 56px;
}

@media screen and (max-width: 375px) {
  main section.select-photoshoot {
    padding-top: 48px;
    padding-bottom: 32px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

main section.select-photoshoot .header-gap {
  margin-top: 44px;
}

@media screen and (max-width: 375px) {
  main section.select-photoshoot .header-gap {
    margin-top: 0px;
  }
}

main section.select-photoshoot .header-2-2 {
  padding-bottom: 56px;
}

@media screen and (max-width: 375px) {
  main section.select-photoshoot .header-2-2 {
    padding-bottom: 24px;
  }
}

main section.select-photoshoot .card {
  border-radius: 8px;
}

main section.select-photoshoot .select-box {
  -webkit-box-shadow: 0 4px 16px 8px rgba(175, 175, 175, 0.1);
          box-shadow: 0 4px 16px 8px rgba(175, 175, 175, 0.1);
  border: none;
}

@media screen and (max-width: 375px) {
  main section.select-photoshoot .select-box {
    margin-bottom: 32px;
  }
}

main section.select-photoshoot .select-box .box-img {
  height: 210px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

main section.select-photoshoot .select-box .header-6-1 {
  padding-bottom: 12px;
}

main section.select-photoshoot .select-box-header {
  background: #eb6a38;
  border: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  padding-bottom: 8px;
}

main section.select-photoshoot .select-box-image {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

main section.select-photoshoot .select-box .most {
  display: none;
}

main section.select-photoshoot .select-box-body {
  padding: 24px 32px 32px 32px;
}

main section.select-photoshoot .select-box-body-btn {
  width: 100%;
  height: 56px;
  background: none;
  border: 2px solid #eb6a38;
  border-radius: 3px;
  padding: 14px 16px;
}

main section.select-photoshoot .select-box-body-btn:hover, main section.select-photoshoot .select-box-body-btn:focus, main section.select-photoshoot .select-box-body-btn:active {
  background: #eb6a38;
  outline: unset;
  cursor: pointer;
}

main section.select-photoshoot .select-box-body-btn:hover span, main section.select-photoshoot .select-box-body-btn:focus span, main section.select-photoshoot .select-box-body-btn:active span {
  color: #ffffff;
}

main section.select-photoshoot .select-box-body-btn .button-text-2-1,
main section.select-photoshoot .select-box-body-btn .button-text-2-2 {
  text-align: left;
}

main section.select-photoshoot .select-box-body-btn span {
  display: block;
  position: relative;
  color: #eb6a38;
}

main section.select-photoshoot .select-box-body-btn span::after {
  content: "\2192";
  position: absolute;
  right: 0;
  width: 24px;
}

main section.select-photoshoot .select-box-body-btn.selected {
  background: #eb6a38;
  text-align: left;
}

main section.select-photoshoot .select-box-body-btn.selected:hover, main section.select-photoshoot .select-box-body-btn.selected:focus, main section.select-photoshoot .select-box-body-btn.selected:active {
  background: #ffffff;
  outline: unset;
}

main section.select-photoshoot .select-box-body-btn.selected:hover span, main section.select-photoshoot .select-box-body-btn.selected:focus span, main section.select-photoshoot .select-box-body-btn.selected:active span {
  color: #eb6a38;
}

main section.select-photoshoot .select-box-body-btn.selected span {
  color: #ffffff;
}

main section.select-photoshoot .select-box .subline-text-3 {
  padding-bottom: 8px;
}

main section.select-photoshoot .select-box span {
  font-weight: 600;
}

main section.select-photoshoot .select-box .content-list {
  height: 76px;
  padding-bottom: 8px;
}

@media screen and (max-width: 375px) {
  main section.select-photoshoot .select-box .content-list {
    height: 100%;
  }
}

main section.select-photoshoot .select-box .price-box {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #4a4a4a;
  padding-bottom: 8px;
}

main section.reminder {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

@media screen and (max-width: 375px) {
  main section.reminder {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

main section.reminder .header-1-dark {
  padding-bottom: 8px;
}

@media screen and (max-width: 375px) {
  main section.reminder .header-1-dark {
    padding-left: 15px;
    padding-right: 15px;
  }
}

main section.reminder .subline-text-1-dark {
  padding-bottom: 32px;
  padding-left: 110px;
  padding-right: 110px;
}

@media screen and (max-width: 375px) {
  main section.reminder .subline-text-1-dark {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;
  }
}

main section.reminder .btn-get-started {
  width: 268px;
  height: 70px;
  background: #eb6a38;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0 8px 16px 8px rgba(239, 136, 96, 0.1);
          box-shadow: 0 8px 16px 8px rgba(239, 136, 96, 0.1);
  cursor: pointer;
}

main section.reminder .btn-get-started:hover, main section.reminder .btn-get-started:focus, main section.reminder .btn-get-started:active {
  background-color: #ffffff;
  border: 2px solid #eb6a38;
  color: #eb6a38;
}

@media screen and (max-width: 375px) {
  main section.reminder .btn-get-started {
    width: 180px;
    height: 48px;
  }
}

footer.footer-bg {
  background-color: #171a1a;
  padding-top: 112px;
  padding-bottom: 80px;
}

@media screen and (max-width: 375px) {
  footer.footer-bg {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.footer-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 80px;
}

@media screen and (max-width: 375px) {
  .footer-top {
    padding-bottom: 48px;
    padding-left: 32px;
  }
}

.footer-top-logo {
  padding-bottom: 96px;
  padding-right: 28px;
}

@media screen and (max-width: 375px) {
  .footer-top-logo {
    padding-bottom: 48px;
  }
}

.footer-top-btn {
  width: 188px;
  height: 36px;
  display: block;
  margin-bottom: 8px;
  border-radius: 4px;
  border: solid 1px #474848;
  background-color: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top-btn:hover, .footer-top-btn:focus, .footer-top-btn:active {
  color: #ffffff;
  border-color: #ffffff;
}

.footer-top-btn-img {
  width: 22px;
  height: 26px;
  padding-bottom: 4px;
  margin-right: 8px;
}

.footer-top-btn .btn-arrow {
  width: 24px;
  height: 24px;
  color: #474848;
}

.footer-top-btn .btn-arrow:hover, .footer-top-btn .btn-arrow:focus, .footer-top-btn .btn-arrow:active {
  color: #ffffff;
}

@media screen and (max-width: 375px) {
  .footer-top .row {
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .footer-top .row .col {
    margin-bottom: 32px;
  }
}

.footer-top-menu-header {
  padding-bottom: 24px;
}

@media screen and (max-width: 375px) {
  .footer-top-menu-header {
    padding-bottom: 0;
  }
}

.footer-top-menu-item {
  padding-bottom: 12px;
}

@media screen and (max-width: 375px) {
  .footer-top-menu-item {
    padding-bottom: 0px;
  }
}

.footer-top-menu-link:hover, .footer-top-menu-link:focus, .footer-top-menu-link:active {
  color: #eb6a38;
  text-decoration: unset;
}

.footer-top .social-list {
  width: 100%;
  height: 100%;
  padding-bottom: 32px;
}

@media screen and (max-width: 375px) {
  .footer-top .social-list {
    padding-left: 16px;
  }
}

.footer-top .social-list-item {
  width: 48px;
  text-align: center;
  height: 48px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 6px;
  margin-right: 12px;
}

.footer-top .social-list-item:hover, .footer-top .social-list-item:focus, .footer-top .social-list-item:active {
  background: #eb6a38;
}

.footer-top .store-button img {
  padding-bottom: 8px;
}

@media screen and (max-width: 375px) {
  .footer-top .store-button img {
    padding-left: 16px;
  }
}

.footer-bottom {
  padding-top: 56px;
}

.footer-bottom .footer-text-2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-bottom a {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 375px) {
  .footer-bottom a {
    padding-left: 5px;
    padding-right: 7px;
  }
}

.footer-bottom a:last-child {
  border: unset;
}
/*# sourceMappingURL=index.css.map */