body {
    font-family: "Asap", sans-serif;
    font-size: 22px;
    width: 100%;
    // .box {
    //     width: 100%;
    //     padding-right: 15px;
    //     padding-left: 15px;
    //     margin-right: auto;
    //     margin-left: auto;
    //     @media screen and (min-with: 1200px) {
    //         max-width: 1190px;
    //     }
    //     @media screen and (min-with: 1199.98px) {
    //         max-width: 1140px;
    //     }
    // }

    .header-bg {
        height: 80px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
        background-color: #ffffff;
        @media screen and (max-width: 375px) {
            height: 52px;
        }
    }

    .header-1-light {
        font-size: 56px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #ffffff;
        @media screen and (max-width: 375px) {
            font-size: 30px;
        }
    }

    .header-1-dark {
        font-size: 56px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: normal;
        color: #4a4a4a;
        @media screen and (max-width: 375px) {
            font-size: 30px;
        }
    }

    .header-2-1 {
        font-size: 46px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
        @media screen and (max-width: 375px) {
            font-size: 26px;
        }
    }

    .header-2-2 {
        font-size: 46px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        color: #4a4a4a;
        @media screen and (max-width: 375px) {
            font-size: 26px;
            line-height: 1.23;
        }
    }

    .header-3 {
        font-size: 64px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: #000000;
        @media screen and (max-width: 375px) {
            font-size: 52px;
        }
    }

    .header-4 {
        font-size: 22px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        @media screen and (max-width: 375px) {
            font-size: 18px;
        }
    }

    .header-5 {
        font-size: 28px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
        @media screen and (max-width: 375px) {
            font-size: 22px;
        }
    }

    .header-6 {
        font-size: 22px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
    }

    .header-6-1 {
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
    }

    .header-7 {
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #ffffff;
    }

    .footer-header-8 {
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }

    .menu-text {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        color: #ffffff;
    }

    .subline-text-1-light {
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        color: #ffffff;
        @media screen and (max-width: 375px) {
            font-size: 18px;
        }
    }

    .subline-text-1-dark {
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.45;
        letter-spacing: normal;
        color: #4a4a4a;
        @media screen and (max-width: 375px) {
            font-size: 18px;
        }
    }

    .subline-text-2 {
        font-size: 22px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #4a4a4a;
        @media screen and (max-width: 375px) {
            font-size: 16px;
            line-height: 1.25;
        }
    }

    .subline-text-3 {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #4a4a4a;
    }

    .subline-text-4 {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #4a4a4a;
    }

    .button-text-1 {
        font-size: 22px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        @media screen and (max-width: 375px) {
            font-size: 18px;
            line-height: 1.22;
        }
    }

    .button-text-2-1 {
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #eb6a38;
    }

    .button-text-2-2 {
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    .button-text-3 {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: rgba(255, 255, 255, 0.7);
    }

    .caption-text {
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
        @media screen and (max-width: 375px) {
            font-size: 18px;
        }
    }

    .footer-text-1 {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(255, 255, 255, 0.9);
    }

    .footer-text-2 {
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
    }
}
