@import "var";

@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}
// ---HEADER AREA BEGIN---
header {
    padding-top: 12px;
    padding-bottom: 12px;
    @media screen and (max-width: 375px) {
        padding: 0;
    }
    // ---HEADER MOBİL BEGIN---
    .navbar-mobile {
        display: none;
        @media screen and (max-width: 991.98px) {
            display: flex;
        }
        height: 100%;
        padding-left: 12px;
        padding-right: 16px;
        justify-content: space-between;
        align-items: center;

        .navbar-toggler {
            width: 22px;
            height: 22px;
            padding: 0;
            &:focus {
                outline: none;
            }
            i {
                position: relative;
                display: inline-block;
                width: 0;
                height: 0;
                background: #4a4a4a;
                transition: all 0.2s ease-out;
                top: -6px;

                &::before {
                    content: "";
                    position: absolute;
                    left: -8px;
                    top: 0;
                    width: 22px;
                    height: 2px;
                    background: #4a4a4a;
                    transition: all 0.2s ease-out;
                    transform: rotateZ(45deg);
                }
                &::after {
                    content: "";
                    position: absolute;
                    right: -14px;
                    top: 0;
                    width: 22px;
                    height: 2px;
                    background: #4a4a4a;
                    transition: all 0.2s ease-out;
                    transform: rotateZ(-45deg);
                }
            }
            &.collapsed {
                i {
                    width: 22px;
                    height: 2px;

                    &::before {
                        left: 0;
                        top: -7px;
                        width: 13px;
                        transform: rotateZ(0deg);
                    }
                    &::after {
                        right: 0;
                        top: 7px;
                        width: 10px;
                        transform: rotateZ(0deg);
                    }
                }
            }
        }
        .navbar-border {
            border: none;
        }
        .logo-img {
            width: 177px;
            height: 11px;
        }
        .langs {
            .flag-link {
                img {
                    width: 22px;
                    height: 22px;
                }
            }
        }
        .navbar-collapse {
            display: none;
            &.collapsing {
                background: #ffffff;
                // position: relative;
                /* height: 0; */
                // overflow: hidden;
                transition: unset;
            }
        }

        .collapse.show {
            position: absolute;
            top: 52px;
            left: 0;
            background: #ffffff;
            width: 100%;
            height: 100vh;
            padding-left: 15px;
            transition: all 0.2s ease-out;
            display: block;
        }
        .navbar-nav {
            .dropdown-toggle::after {
                content: "";
                position: absolute;
                top: 24px;
                background: url("../img/icon/chevron-down.svg");
                background-repeat: no-repeat;
                background-position-y: 1px;
                width: 16px;
                height: 12px;
                border: unset;
            }
            a {
                text-decoration: none;
                color: #4a4a4a;
                padding: 15px 30px;
                display: block;
                margin-left: -15px;
                margin-right: -15px;
            }
            .sign-up-link {
                border: 1px solid #ef8860;
                font-size: 18px;
                color: #4a4a4a;
                background: none;
                border-radius: 3px;
                margin: 10px 30px;
                height: 38px;
                width: fit-content;
                min-width: 140px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-left: 15px;
                &:hover {
                    text-decoration: none;
                    color: #ef8860;
                    background: #ffffff;
                }
            }
        }
    }
    // ---HEADER MOBIL END---

}
    // ---HEADER DESKTOP BEGIN---

.navbar {
    @media screen and (max-width: 991.98px) {
        display: none;
    }
    &-border {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        padding-right: 32px;
    }
    .navbar-nav {
        .dropdown-toggle::after {
            content: "";
            position: absolute;
            top: 10px;
            background: url("../img/icon/chevron-down.svg");
            background-repeat: no-repeat;
            background-position-y: 1px;
            width: 16px;
            height: 12px;
            border: unset;
        }
        .dropdown-toggle.menu-text {
            padding-right: 18px;
        }
        .nav-item {
            padding-left: 8px;
            padding-right: 8px;
            .nav-link {
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.22;
                letter-spacing: normal;
                color: #4a4a4a;
            }
        }
        .login-link {
            font-size: 18px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.22;
            letter-spacing: normal;
            color: #eb6a38;
            align-self: center;
            padding-right: 32px;
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
        .sign-up-link {
            font-size: 16px;
            font-weight: normal;
            color: #4a4a4a;
            height: 38px;
            padding-left: 44px;
            padding-right: 44px;
            margin-right: 32px;
            border: 1px solid #ef8860;
            border-radius: 3px;
            background: none;
            cursor: pointer;
        }
        .flag-link {
            height: 30px;
            img {
                width: 22px;
                height: 22px;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-right: 4px;
                margin-right: 4px;
            }
        }
        .language-link {
            font-size: 18px;
            font-weight: normal;
            color: #4a4a4a;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.22;
            letter-spacing: normal;
            align-self: center;
            border-left: 1px solid #d8d8d8;
            padding-left: 8px;
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
    }
}
    // ---HEADER DESKTOP END---


    // ---CONTENT AREA BEGIN---

main {
    background: url("../img/dishbg.svg") center bottom no-repeat;
    background-size: contain;
    padding-bottom: 128px;
    @media screen and (max-width: 375px) {
        background: url("../img/dishbg-mobile.svg") center bottom no-repeat;
        padding-bottom: 80px;
    }
    .justifying-item {
        justify-content: center;
        @media screen and (max-width: 375px) {
            justify-content: unset;
        }
    }


    // ---HERO SECTION BEGIN---

    section.overlay {
        margin-top: 80px;
        @media screen and (max-width: 375px) {
            margin-top: 52px;
        }
        .hero-background-desktop {
            background: url("../img/hero-background-desktop.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 600px;
            z-index: 1;
            position: relative;
            @media screen and (max-width: 375px) {
                background: url("../img/hero-background-mobile.jpg");
                height: 600px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(133deg, rgba(0, 0, 0, 0.42) 28%, rgba(0, 0, 0, 0) 63%);
            }
        }
        .hero-box {
            position: relative;
            .header-1-light {
                padding-top: 145px;
                padding-bottom: 16px;
                padding-left: 0;
                padding-right: 0;
                margin: 0;
                @media screen and (max-width: 375px) {
                    padding-top: 123px;
                }
            }
            .subline-text-1-light {
                padding-bottom: 32px;
                padding-left: 0;
                padding-right: 0;
                margin: 0;
                @media screen and (max-width: 375px) {
                    padding-bottom: 24px;
                }
            }
            .btn-get-started {
                position: absolute;
                bottom: -94px;
                left: 0;
                width: 241px;
                height: 70px;
                background: #eb6a38;
                border: none;
                border-radius: 4px;
                box-shadow: 0 8px 16px 8px rgba(239, 136, 96, 0.1);
                padding-left: 0;
                padding-right: 0;
                margin: 24px 15px;
                z-index: 999;
                cursor: pointer;
                &:hover,
                &:focus,
                &:active {
                    background-color: #ffffff;
                    border: 2px solid #eb6a38;
                    color: #eb6a38;
                }
                @media screen and (max-width: 375px) {
                    width: 180px;
                    height: 48px;
                    bottom: -72px;
                }
            }
        }
    }
    // ---HERO SECTION END---

    // ---STASTISTICS SECTION BEGIN---

    section.statistics {
        padding-top: 113px;
        padding-bottom: 128px;
        text-align: center;
        @media screen and (max-width: 375px) {
            text-align: left;
            padding-top: 48px;
            padding-bottom: 32px;
        }
        .header-2-1 {
            padding-bottom: 56px;
            @media screen and (max-width: 375px) {
                padding-bottom: 15px;
                padding-left: 15px;
            }
        }
        .header-4 {
            padding-bottom: 18px;
            @media screen and (max-width: 375px) {
                padding-bottom: 16px;
            }
            span {
                border-bottom: 4px solid #22bb77;
            }
        }
        .subline-text-1-dark {
            @media screen and (max-width: 375px) {
                padding-bottom: 32px;
            }
        }
    }
    // ---STASTISTICS SECTION END---

    // ---BEFORE-AFTER SECTION BEGIN---

    section.before-after {
        background-size: cover;
        padding-top: 112px;
        padding-bottom: 128px;
        position: relative;
        @media screen and (max-width: 375px) {
            text-align: left;
            padding-top: 48px;
            padding-bottom: 64px;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(144deg, #ffe679 -31%, #cc3131 131%);
            opacity: 0.1;
        }
        .header-2-2 {
            color: #4a4a4a;
            padding-bottom: 16px;
            @media screen and (max-width: 375px) {
                padding-right: 145px;
                padding-left: 15px;
                text-align: left;
            }
        }
        .subline-text-1-dark {
            padding-left: 115px;
            padding-right: 115px;
            padding-bottom: 48px;
            @media screen and (max-width: 375px) {
                text-align: left;
                padding-bottom: 16px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .owl-carousel.number-2 {
            display: none;
            @media screen and (max-width: 375px) {
                display: block;
            }
            .owl-stage-outer {
                .owl-stage {
                    .slider-cover {
                        display: block;
                        img {
                            width: 345px;
                            height: 230px;
                            margin-bottom: 8px;
                        }
                    }
                    .owl-before-caption {
                        position: absolute;
                        top: 188px;
                        left: 16px;
                        width: 64px;
                        height: 21px;
                    }
                    .owl-after-caption {
                        position: absolute;
                        bottom: 28px;
                        left: 16px;
                        width: 64px;
                        height: 21px;
                    }
                }
            }
            .owl-dots {
                .owl-dot {
                    &:hover,
                    &:focus,
                    &:active,
                    &:visited {
                        outline: none;
                    }
                }
            }
        }
        .owl-carousel {
            position: relative;
            @media screen and (max-width: 375px) {
                display: none;
            }
            .owl-stage-outer {
                margin-left: 22px;
                @media screen and (max-width: 375px) {
                    margin-left: 0px;
                }
            }
            .item {
                display: flex;
                img {
                    width: 570px;
                    height: 380px;
                    border-radius: 8px;
                    margin-right: 15px;
                }
                .owl-before-caption {
                    position: absolute;
                    bottom: 28px;
                    left: 16px;
                    width: 64px;
                    height: 21px;
                }
                .owl-after-caption {
                    position: absolute;
                    bottom: 28px;
                    right: 44px;
                    width: 64px;
                    height: 21px;
                }
            }
            .owl-nav {
                position: absolute;
                top: 100px;
                justify-content: space-between;
                display: flex;
                width: 100%;
                color: white;
                padding-left: 38px;
                padding-right: 30px;
                @media screen and (max-width: 375px) {
                    display: none;
                }
                span {
                    font-size: 80px;
                    color: white;
                }
                .owl-prev,
                .owl-next {
                    &:hover,
                    &:focus,
                    &:active {
                        background: none;
                        outline: none;
                    }
                }
            }
            .owl-dots {
                .owl-dot {
                    &:hover,
                    &:focus,
                    &:active,
                    &:visited {
                        outline: none;
                    }
                }
                .owl-dot.active {
                    span {
                        background: #ef8860;
                        width: 12px;
                        height: 12px;
                        margin-top: 16px;
                        outline: none;
                    }
                }
            }
        }
    }
    // ---BEFORE-AFTER SECTION END---

    // ---GALLERY SECTION BEGIN---

    section.gallery-area {
        padding-top: 112px;
        padding-bottom: 64px;
        @media screen and (max-width: 375px) {
            padding-top: 48px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 0px;
        }

        .header-2-1 {
            padding-bottom: 16px;
            @media screen and (max-width: 375px) {
                padding-right: 134px;
                padding-left: 15px;
                padding-bottom: 8px;
            }
        }
        .subline-text-1-dark {
            padding-left: 115px;
            padding-right: 115px;
            padding-bottom: 48px;
            text-align: center;
            @media screen and (max-width: 375px) {
                text-align: left;
                padding-bottom: 16px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 13.5vw);
            grid-gap: 30px;
            @media screen and (max-width: 375px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 29vw);
                grid-gap: 15px;
                border-bottom: 1px solid #eaeaea;
                padding-bottom: 64px;
                margin-left: 15px;
                margin-right: 15px;
            }
            figure {
                margin: 0;
            }
            &-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                @media screen and (max-width: 375px) {
                    border-radius: 4px;
                    height: 110px;
                }
            }
            &-item-1 {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                @media screen and (max-width: 768px) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
            }
            &-item-2 {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
                @media screen and (max-width: 768px) {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
            }
            &-item-3 {
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 2;
                @media screen and (max-width: 768px) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
            }
            &-item-4 {
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 2;
                grid-row-end: 4;
                @media screen and (max-width: 768px) {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
            }
            &-item-5 {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 4;
                @media screen and (max-width: 768px) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
            }
            &-item-6 {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 4;
                @media screen and (max-width: 768px) {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
            }
        }
    }
    // ---GALLERY SECTION END---

    // ---PROCESS SECTION BEGIN---

    section.process-step {
        padding-top: 112px;
        text-align: center;
        @media screen and (max-width: 375px) {
            padding-top: 48px;
            padding-left: 15px;
            padding-right: 15px;
            text-align: left;
        }
        .header-2-1 {
            padding-bottom: 80px;
            @media screen and (max-width: 375px) {
                padding-bottom: 48px;
                text-align: left;
            }
        }
        .header-5 {
            padding-top: 35px;
            padding-bottom: 16px;
            @media screen and (max-width: 375px) {
                padding-bottom: 8px;
                padding-top: 16px;
            }
        }
        .subline-text-1-dark {
            padding-bottom: 64px;
            @media screen and (max-width: 375px) {
                padding-bottom: 40px;
            }
        }
        .step-bottom-border {
            border-bottom: 1px solid #eaeaea;
            padding-bottom: 40px;
            @media screen and (max-width: 375px) {
                border-bottom: none;
                padding-bottom: 0px;
            }
            .process-badge {
                position: absolute;
                top: -23px;
                left: 32px;
                background: #eb6a38;
                color: #ffffff;
                width: 48px;
                height: 48px;
                font-size: 32px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                border-radius: 8px;
            }
            .step-img {
                border-radius: 8px;
                width: 100%;
            }
            .end-line {
                @media screen and (max-width: 375px) {
                    border-bottom: 1px solid #eaeaea;
                    padding-bottom: 56px;
                    margin-bottom: 0px;
                }
            }
        }
    }
    // ---PROCESS SECTION END---

    // ---SELECT PHOTOSHOOT SECTION BEGIN---

    section.select-photoshoot {
        padding-top: 112px;
        padding-bottom: 56px;
        @media screen and (max-width: 375px) {
            padding-top: 48px;
            padding-bottom: 32px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .header-gap {
            margin-top: 44px;
            @media screen and (max-width: 375px) {
                margin-top: 0px;
            }
        }
        .header-2-2 {
            padding-bottom: 56px;
            @media screen and (max-width: 375px) {
                padding-bottom: 24px;
            }
        }
        .card {
            border-radius: 8px;
        }
        .select-box {
            box-shadow: 0 4px 16px 8px rgba(175, 175, 175, 0.1);
            border: none;
            @media screen and (max-width: 375px) {
                margin-bottom: 32px;
            }
            .box-img {
                height: 210px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
            }
            .header-6-1 {
                padding-bottom: 12px;
            }
            &-header {
                background: #eb6a38;
                border: none;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                text-align: center;
                padding-bottom: 8px;
            }
            &-image {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            .most {
                display: none;
            }
            &-body {
                padding: 24px 32px 32px 32px;
                &-btn {
                    width: 100%;
                    height: 56px;
                    background: none;
                    border: 2px solid #eb6a38;
                    border-radius: 3px;
                    padding: 14px 16px;
                    &:hover,
                    &:focus,
                    &:active {
                        background: #eb6a38;
                        outline: unset;
                        cursor: pointer;
                        span {
                            color: #ffffff;
                        }
                    }
                    .button-text-2-1,
                    .button-text-2-2 {
                        text-align: left;
                    }
                    span {
                        display: block;
                        position: relative;
                        color: #eb6a38;
                        &::after {
                            content: "\2192";
                            position: absolute;
                            right: 0;
                            width: 24px;
                        }
                    }
                }
                &-btn.selected {
                    background: #eb6a38;
                    text-align: left;
                    &:hover,
                    &:focus,
                    &:active {
                        background: #ffffff;
                        outline: unset;
                        span {
                            color: #eb6a38;
                        }
                    }
                    span {
                        color: #ffffff;
                    }
                }
            }

            .subline-text-3 {
                padding-bottom: 8px;
            }
            span {
                font-weight: 600;
            }
            .content-list {
                height: 76px;
                padding-bottom: 8px;
                @media screen and (max-width: 375px) {
                    height: 100%;
                }
            }
            .price-box {
                font-size: 24px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.33;
                letter-spacing: normal;
                color: #4a4a4a;
                padding-bottom: 8px;
            }
        }
    }
    // ---SELECT PHOTOSHOOT SECTION END---

    // ---REMINDER SECTION BEGIN---

    section.reminder {
        padding-top: 64px;
        padding-bottom: 64px;
        text-align: center;
        @media screen and (max-width: 375px) {
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .header-1-dark {
            padding-bottom: 8px;
            @media screen and (max-width: 375px) {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .subline-text-1-dark {
            padding-bottom: 32px;
            padding-left: 110px;
            padding-right: 110px;
            @media screen and (max-width: 375px) {
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 8px;
            }
        }
        .btn-get-started {
            width: 268px;
            height: 70px;
            background: #eb6a38;
            border: none;
            border-radius: 4px;
            box-shadow: 0 8px 16px 8px rgba(239, 136, 96, 0.1);
            cursor: pointer;
            &:hover,
            &:focus,
            &:active {
                background-color: #ffffff;
                border: 2px solid #eb6a38;
                color: #eb6a38;
            }
            @media screen and (max-width: 375px) {
                width: 180px;
                height: 48px;
            }
        }
    }
    // ---REMINDER SECTION BEGIN---

}
    // ---CONTENT AREA END---

    // ---FOOTER AREA BEGIN---

footer.footer-bg {
    background-color: #171a1a;
    padding-top: 112px;
    padding-bottom: 80px;
    @media screen and (max-width: 375px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}
.footer {
    &-top {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 80px;
        @media screen and (max-width: 375px) {
            padding-bottom: 48px;
            padding-left: 32px;
        }
        &-logo {
            padding-bottom: 96px;
            padding-right: 28px;
            @media screen and (max-width: 375px) {
                padding-bottom: 48px;
            }
        }
        &-btn {
            width: 188px;
            height: 36px;
            display: block;
            margin-bottom: 8px;
            border-radius: 4px;
            border: solid 1px #474848;
            background-color: unset;
            position: relative;
            display: flex;
            justify-content: space-between;
            &:hover,
            &:focus,
            &:active {
                color: #ffffff;
                border-color: #ffffff;
            }

            &-img {
                width: 22px;
                height: 26px;
                padding-bottom: 4px;
                margin-right: 8px;
            }
            .btn-arrow {
                width: 24px;
                height: 24px;
                color: #474848;
                &:hover,
                &:focus,
                &:active {
                    color: #ffffff;
                }
            }
        }
        .row {
            @media screen and (max-width: 375px) {
                display: block;
            }
            .col {
                @media screen and (max-width: 375px) {
                    margin-bottom: 32px;
                }
            }
        }
        &-menu-header {
            padding-bottom: 24px;
            @media screen and (max-width: 375px) {
                padding-bottom: 0;
            }
        }
        &-menu-item {
            padding-bottom: 12px;
            @media screen and (max-width: 375px) {
                padding-bottom: 0px;
            }
        }
        &-menu-link {
            &:hover,
            &:focus,
            &:active {
                color: #eb6a38;
                text-decoration: unset;
            }
        }
        .social-list {
            width: 100%;
            height: 100%;
            padding-bottom: 32px;
            @media screen and (max-width: 375px) {
                padding-left: 16px;
            }
            &-item {
                width: 48px;
                text-align: center;
                height: 48px;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.1);
                padding-top: 6px;
                margin-right: 12px;
                &:hover,
                &:focus,
                &:active {
                    background: #eb6a38;
                }
            }
        }
        .store-button {
            img {
                padding-bottom: 8px;
                @media screen and (max-width: 375px) {
                    padding-left: 16px;
                }
            }
        }
    }
    &-bottom {
        padding-top: 56px;
        .footer-text-2 {
            align-self: center;
        }
        a {
            padding-left: 10px;
            padding-right: 10px;
            border-right: 1px solid rgba(255, 255, 255, 0.5);
            @media screen and (max-width: 375px) {
                padding-left: 5px;
                padding-right: 7px;
            }
        }
        a:last-child {
            border: unset;
        }
    }
}
    // ---FOOTER AREA END---

